* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    background-image: url("teamimages/mainbg.jpg");
    width: 100%;
    height: auto;
    padding: 60px 30px;
    font-size: 2em;
    color: yellowgreen;
    text-shadow: 2px 2px 2px black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo{
    margin-left: 50px;
}
.container{ 
    padding: 45px;
}

.container h1 {
    text-align: center;
    margin-bottom: 28px;
    font-weight: 300;
    font-size: 2em;
}

.crdcoll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lib { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.creative {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#card {
    margin: 30px;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    transition: all 0.25s ease;
}

.card1 {
    background: url("teamimages/divayansh.jpg");
    background-size: cover;
    background-position: center;
}

.card2 {
    background: url("teamimages/rohitomar.jpg");
    background-size: cover;
    background-position: center;
}

.card3 {
    background: url("teamimages/aman.jpg");
    background-size: cover;
    background-position: center;
}

.card4 {
    background: url("teamimages/vishal.jpg");
    background-size: cover;
    background-position: center;
}

.card5 {
    background: url("teamimages/sweta.jpg");
    background-size: cover;
    background-position: center;
}

.card6 {
    background: url("teamimages/adityaagarwal.jpg");
    background-size: cover;
    background-position: center;
}

.card7 {
    background: url("teamimages/ammaar.JPG");
    background-size: cover;
    background-position: center;
}

.card8 {
    background: url("teamimages/aradhya.jpg");
    background-size: cover;
    background-position: center;
}

.card9 {
    background: url("teamimages/ashtha.jpg");
    background-size: cover;
    background-position: center;
}

.card10 {
    background: url("teamimages/rinki.jpg");
    background-size: cover;
    background-position: center;
}

.card11 {
    background: url("teamimages/anupama.jpg");
    background-size: cover;
    background-position: center;
}

.card12 {
    background: url("teamimages/Kirti.jpg");
    background-size: cover;
    background-position: center;
}

.card13 {
    background: url("teamimages/Angeera.jpg");
    background-size: cover;
    background-position: center;
}

.card14 {
    background: url("teamimages/Aditya.jpg");
    background-size: cover;
    background-position: center;
}

.card15 {
    background: url("teamimages/Hemant.jpg");
    background-size: cover;
    background-position: center;
}

.card16 {
    background: url("teamimages/adarshpandey.jpg");
    background-size: cover;
    background-position: center;
}

.card17 {
    background: url("teamimages/uttama.png");
    background-size: cover;
    background-position: center;
}

.card18 {
    background: url("teamimages/Dheeraj.jpg");
    background-size: cover;
    background-position: center;
}

.card19 {
    background: url("teamimages/shreyansh.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    padding: 10px 25px;
    box-sizing: border-box;
    display: inline;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
}

#card:hover{
    border-radius: 12px;
}

.text {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 27px;
}

h2 {
    font-size: 16px;
}
a {

    padding: 12px;
    text-decoration: none;
    color: yellowgreen;
    border-radius: 20px;
}
a h1{
    margin-top: 14px;
    border: thick solid yellowgreen;
    border-radius: 50px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container2 a{
    position: relative;
    display: inline-block;
    color: #ffffff;
    border: 1px solid #040a29;
    background: #000000dd;
    margin: 10px 57px;
    border-radius: 10px;
}
.container2 a:hover{
    transform: scale(1.1);
}
